.clients {
  @include main;

  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    & > a {
      padding: 20px 30px;
      font-weight: 700;
      font-size: 24px;
      background-color: $color-light-grey;
      color: $color-blue;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

.testimonial {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;

  img {
    margin-top: 30px;
    width: 35px;
    height: 25px;
  }

  p {
    margin: 0;
    line-height: 1.7;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > div {
      margin-top: 20px;
    }
  }
}
