.contact {
  width: 60%;
  margin: 50px auto;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    color: $color-text;
    font-weight: 300;
  }

  h2 {
    font-size: 20px;
    color: $color-blue;
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__info {
      p {
        font-size: 14px;
        line-height: 1.7;
      }

      .company-details {
        display: grid;
        grid-template-columns: 20% 80%;

        .detail-key {
          font-weight: 700;
        }

        .detail-key,
        .detail-value {
          p {
            height: 30px;
          }
        }
      }

      .map {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin: auto 0 auto auto;

      label {
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 400;
      }

      input[type="text"],
      textarea {
        border: 1px solid #8f8c8c;
        border-radius: 5px;
        height: 30px;
        padding: 10px;
        box-sizing: border-box;

        &:focus {
          outline: none !important;
          border: 1px solid $color-blue;
          box-shadow: 0 0 5px $color-blue;
        }
      }

      textarea {
        width: 100%;
        height: 100px;
        resize: none;
      }

      .form-icons {
        margin-top: 50px;
      }
    }
  }
}
