.features {
  @include main;

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    &__card {
      background-color: $color-light-grey;
      padding: 10px;
      transition: all 0.3s;
      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}

.card__headline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;

  h2 {
    color: $color-blue;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  img {
    width: 40px;
  }
}

p {
  font-size: 14px;
  line-height: 1.7;
}
