footer {
  height: 100px;
  width: 100%;
  position: relative;
  background-color: $color-light-grey;
}

.footer {
  width: 60%;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__items {
    list-style: none;
    display: flex;
    position: relative;
    padding: 0;
    justify-content: flex-start;
    align-items: center;

    a {
      margin-right: 20px;
      font-size: 16px;
      text-decoration: none;
      color: $color-text;
      text-transform: uppercase;

      &:hover {
        color: darken($color: $color-text, $amount: 20%);
      }
    }
  }

  &__legal {
    width: 60%;
    margin: 20px auto;
    height: 100px;

    a {
      color: $color-text;
      font-size: 14px;
      margin-right: 30px;
      position: relative;
      transition: all 0.3s;

      &:hover {
        color: darken($color: $color-text, $amount: 20%);
      }
    }
  }
}
