.hero {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/hero1.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  &__text {
    width: 60%;
    margin: auto;
    color: $color-white;

    h1 {
      font-size: 50px;
      font-weight: 300;
      margin: 0;
    }

    h2 {
      font-size: 20px;
      font-weight: 300;
      margin: 50px 0;
    }
  }
}
