nav {
  width: 100%;
  height: 90px;
  background-color: $color-light-grey;
}
.nav {
  margin: auto;
  width: 60%;
  height: 90px;
  background-color: $color-light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $color-text;

  &--flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  &__logo {
    font-size: 36px;
    a {
      color: #1e8ad2;
    }

    h1,
    span {
      margin: 0;
    }

    span {
      display: block;
      font-size: 20px;
      color: $color-text;
    }
  }

  &__items {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    margin-right: 40px;

    a {
      margin-left: 20px;
      text-decoration: none;
      color: $color-text;
      text-transform: uppercase;
      transition: color .3s;

      &:hover {
        color: darken($color: $color-text, $amount: 20%)
      }
    }
  }
}



.side-menu {
  display: none;
  width: 100%;
  height: 90px;
  background-color: $color-light-grey;
  

  &__logo {
    font-size: 26px;
    color: #1e8ad2;
    padding-left: 30px;

    h1,
    span {
      margin: 0;
    }

    span {
      display: block;
      font-size: 20px;
      color: $color-text;
    }
  }
}


.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $color-white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;


  &__items {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 70%;


    & a {
      text-decoration: none;
      color: $color-text;
      font-size: 25px;
      display: block;
      transition: 0.3s;
    }
  }
}

.hamburger {
  width: 50px;
  padding-right: 30px;
}