.projects {
  @include main;

  &__grid {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  &__text {
    width: 95%;
    p {
      line-height: 1.7;
    }
  }

  &__gallery {
    &__photos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;

      img {
        width: 100px;
        filter: gray;
        -webkit-filter: grayscale(100%);
        transition: all 0.6s ease;

        &:hover {
          filter: gray;
          -webkit-filter: grayscale(0%);
        }
      }
    }
  }
}
