.who {
  @include main;

  &__we {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;

    &__card {
      & > img {
        width: 100%;
        filter: gray;
        -webkit-filter: grayscale(100%);
        transition: all 0.6s ease;

        &:hover {
          filter: gray;
          -webkit-filter: grayscale(0%);
        }
      }

      p {
        margin: 0;
        padding: 2px 0;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 30px;
  }

  &__text {
    width: 95%;
    p {
      line-height: 1.7;
    }
  }

  &__gallery {
    &__photos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;

      img {
        width: 100px;
        filter: gray;
        -webkit-filter: grayscale(100%);
        transition: all 0.6s ease;

        &:hover {
          filter: gray;
          -webkit-filter: grayscale(0%);
        }
      }
    }
  }
}
