* {
  font-family: 'Raleway', sans-serif;
}

@import 'abstract/variables';
@import 'abstract/mixins';

@import 'base/typography';

@import 'components/buttons';

@import 'layout/nav';
@import 'layout/header';
@import 'layout/features';
@import 'layout/contactus';
@import 'layout/footer';
@import 'layout/projects';
@import 'layout/who-we-are';
@import 'layout/clients';

@import 'queries/desktop';
@import 'queries/tablet';
@import 'queries/mobile';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

a {text-decoration: none;}