.btn {
  &--header {
    width: 100px;
    height: 30px;
    background-color: $color-white;
    color: $color-blue;
    border: none;
    outline: none;
    font-weight: 700;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      background-color: $color-blue;
      color: $color-white;
    }
  }

  &--form {
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin: 30px 0 0 auto;
    background-color: $color-blue;
    color: $color-white;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    float: right;
    display: block;
    transition: all 0.5s;
    &:hover {
      background-color: $color-white;
      color: $color-blue;
      border: 1px solid $color-blue;
    }
  }

  // &--footer {
  //   cursor: pointer;
  //   align-self: flex-end;
  //   bottom: 0;
  //   display: block;
  //   position: absolute;
  //   transition: all 0.5s;
  //   &:hover {
  //     background-color: $color-white;
  //     color: $color-blue;
  //     border: 1px solid $color-blue;
  //   }
  // }

  &--projects {
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin: 20px 0;
    background-color: $color-blue;
    color: $color-white;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    display: block;
    transition: all 0.5s;
    &:hover {
      background-color: $color-white;
      color: $color-blue;
      border: 1px solid $color-blue;
    }
  }
}
