@media (min-width: 1400px) {
  p {
    font-size: 16px !important;
  }
}

@media (max-width: 1366px) {
  .nav {
    width: 90%;
    &--flex {
      flex-direction: column;
      align-items: flex-end;
    }

    &__items {
      margin-right: 0;
    }
  }

  .hero {
    height: 50vh;
  }

  .features {
    width: 90%;
  }

  .projects {
    width: 90%;
  }

  .who {
    width: 90%;
  }

  .clients {
    width: 90%;
  }

  .contact {
    width: 90%;
  }

  .footer {
    width: 90%;

    &__legal {
      width: 90%;
    }
  }
}
