@media (max-width: 480px) {
  .invisible {
    display: none;
  }

  nav {
    display: none;
  }

  .side-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero {
    height: 60vh;
    &__text {
      h1 {
        font-size: 35px;
      }
    }
  }

  .features {
    width: 90%;
    &__cards {
      grid-template-columns: 1fr;
    }
  }

  .detail-key,
  .detail-value {
    p {
      height: 30px;
    }
  }

  .who {
    &__we {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  .clients {
    &__cards {
      & > a {
        font-size: 18px;
        padding: 20px 20px;
      }
    }
  }

  footer,
  .footer {
    height: 130px;
  }

  .footer {
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;

      a {
        font-size: 14px;
      }
    }

    &__legal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 430px) {
  .btn {
    &--footer {
      display: none;
    }
  }
  footer,
  .footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer {
    &__items {
      grid-template-columns: 1fr;
      margin: auto;
    }
  }
}
