@media (max-width: 1024px) {
  .nav {
    width: 90%;
    &--flex {
      flex-direction: column;
      align-items: flex-end;
    }

    &__items {
      margin-right: 0;
    }
  }

  .features {
    width: 90%;
    &__cards {
      grid-template-columns: repeat(2, 1fr);

      &__card {
        padding: 10px 20px;
      }
    }
  }

  .projects {
    &__grid {
      grid-template-columns: 60% 40%;
    }
  }

  .who {
    width: 90%;
    &__grid {
      grid-template-columns: 60% 40%;
    }
  }

  .contact {
    width: 90%;
    &__details {
      grid-template-columns: 1fr;

      &__form {
        width: 100%;

        .form-icons {
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .projects {
    &__grid {
      grid-template-columns: 1fr;
    }

    &__gallery {
      &__photos {
        img {
          width: 100%;
        }
      }
    }
  }

  .who {
    &__grid {
      grid-template-columns: 1fr;
    }

    &__gallery {
      &__photos {
        img {
          width: 100%;
        }
      }
    }
  }

  .clients {
    &__cards {
      & > a {
        font-size: 18px;
        padding: 20px;
      }
    }
    &__grid {
      grid-template-columns: 1fr;
    }
  }

  .footer {
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px 30px;
    }
  }
}
