@mixin main {
  width: 60%;
  margin: auto;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: $color-text;
    font-size: 20px;
  }

  h1 {
    font-size: 35px;
    margin: 50px 0;
    text-align: center;
    color: $color-text;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
  }

  h2 {
    color: $color-blue;

    font-size: 20px;
    font-weight: 600;
  }
}